<div class="<%= nav_bar_class %>">
  <%= link_to 'Perfil', profile_path, class: nav_bar_tab_class %>
  <%= link_to 'Recetas',  recipes_path, class: nav_bar_tab_class %>
  <%= link_to 'Admin', root_path, class: nav_bar_tab_class %>
</div>
